.redbox{
 border: 1px solid rgb(12, 5, 0);
 min-width: 200px;
 min-height: 200px;
 max-height: 200px;
 max-width: 200px;
 
}

#app {
    max-width: 800px;
    min-width: 800px;
    max-height: 800px;
    min-height: 800px;
}

body {
    background-image: url(imgs/library.jpg);
    background-position: center;
}
.container-fluid {
    background-color: rgba(230, 245, 247, 0.2);
    background-position: initial;
    border-radius: 50px 50px 50px 50px ;

}